## Preprocessing

In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#Mounting Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./drive/My Drive/Colab Notebooks/alphabet_soup/Resources/charity_data.csv")
application_df

             EIN  ... IS_SUCCESSFUL
0       10520599  ...             1
1       10531628  ...             1
2       10547893  ...             0
3       10553066  ...             1
4       10556103  ...             1
...          ...  ...           ...
34294  996009318  ...             0
34295  996010315  ...             0
34296  996012607  ...             0
34297  996015768  ...             1
34298  996086871  ...             0

[34299 rows x 12 columns]

In [21]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
app_df = application_df.drop(["EIN","NAME"],1)

In [22]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_ct = app_df["APPLICATION_TYPE"].value_counts()
app_ct

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [24]:
list(app_ct[app_ct < 500].index)

['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(app_ct[app_ct < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_ct = app_df["CLASSIFICATION"].value_counts()
class_ct

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C6100        1
C1820        1
C1900        1
C2570        1
C2500        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_ct[class_ct > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1600        5
C1257        5
C0           3
C2710        3
C1260        3
C3200        2
C1256        2
C1267        2
C1246        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(class_ct[class_ct < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
app_dummies_df = pd.get_dummies(app_df)
app_dummies_df

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [30]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = app_dummies_df.drop(["IS_SUCCESSFUL"], axis="columns").values
y = app_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 150
hidden_nodes_layer2 = 100
# hidden_nodes_layer3 = 80
# hidden_nodes_layer4 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu")
)

# Third hidden layer
#  YOUR CODE GOES HERE
# nn.add(
#     tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu")
# )

# # fourth hidden layer
# #  YOUR CODE GOES HERE
# nn.add(
#     tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu")
# )

# Output layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 150)               6600

 dense_11 (Dense)            (None, 100)               15100

 dense_12 (Dense)            (None, 1)                 101

=================================================================
Total params: 21,801
Trainable params: 21,801
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [38]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5732 - accuracy: 0.7173
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5593 - accuracy: 0.7256
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7279
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7289
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7293
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7302
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5509 - accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7320
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7315
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7315
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7318
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7318
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7328
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7328
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7343
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7327
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7332
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7333
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7344
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7346
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7337
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7340
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7343
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7351
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7350
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7346
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7357
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7353
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7358
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7352
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7352
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7356
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7360
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7359
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7367
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7352
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7360
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7356
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7364
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7377
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7360
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7368
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7375
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7361
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7364
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7364
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7365
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7369
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7375
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7371
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7366
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7376
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7371
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7362
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7366
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7375
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7372
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7368
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7374
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7369
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7375
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7373
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7375
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7372
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7371
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7376
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7367
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7372
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7377
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7384
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7376
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7376
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7380
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7375
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7378
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7378
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7378
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7374
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7382
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7376
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7377
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7375
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7382
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7378
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7378
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7384
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7381

In [41]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5581 - accuracy: 0.7374 - 298ms/epoch - 1ms/step
Loss: 0.5580717921257019, Accuracy: 0.7373760938644409

In [43]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("./drive/My Drive/Colab Notebooks/alphabet_soup/AlphabetSoupCharity_NOTOptimized.h5")